* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121212;

  --c-primary: #32A142;
  --c-secondary: #0077B6;

  --c-error: red;

  --c-text: #FFF;
}

body {
  font-family: sans-serif;

  background: var(--bg-color);
  color: var(--c-text);
}

hr {
  border: none;
  border-radius: 10px;

  height: 2px;

  background-image: linear-gradient(to right, var(--c-primary), var(--c-secondary));
}